
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height:100%;
    background-image: url(img/zwZoHE.jpg);
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("img//zwZoHE.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}


.logo{
    color: whitesmoke;
}
.logo a{
    text-decoration: none;
    color: whitesmoke;
}
.jusšc{
    color: whitesmoke;
    font-size: 30px;
    text-align: right;
}
.mp{
    color:#e91e63;
    font-size: 17px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif; 
    background-color: #24262b;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #bbbbbb;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
}

.nav-links a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    background-color: #e91e63;
    height: 2px;
    width: 0%;
    transition: all 0.5s ease;
}
.nav-links a:hover:after{
    width: 100%;
}


.slika{
    padding:10px 10px 165px 10px;
    box-shadow: 0 0 20px 2px;
    max-width: 100%;
    background-position: center;
    
}
.text1{
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
    color:#bbbbbb;
    letter-spacing: 0.5px;
    font-style: italic;
    
}
.buttons1{
    text-align: center;
}
.buttons2{
    text-align: center;
}
.button1{
    border:none;
    margin-top: 40px;
    padding: 20px;
    width:700px;
    height: 10%;
    background-color: #24262b;
    color:#bbbbbb;
    border-radius: 40px;
    font-size: 20px;
}
.button2{
    margin-top: -10px;
    border:none;
    padding: 20px;
    width:700px;
    height: 10%;
    background-color: #24262b;
    color:#bbbbbb;
    border-radius: 40px;
    font-size: 20px;
}

.button1:hover, .button2:hover{
    background-color:#bbbbbb;
    color:#24262b;
    transition: all 0.5s ease;
}


.rukovodstvo-škole{
    margin-top: 220px;
    letter-spacing: 1px;
}

h1{
    font-size: 40px;
    text-align:center;
    color:#ffffff;;
}
.pharagraphs{
    margin-top: 70px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pharagraph1, .pharagraph2, .pharagraph3, .pharagraph4{
    box-shadow: 0 0 20px 5px;
    width: 320px;
    margin: 20px 45px 20px 45px;
    background-color: #24262b;
    height: 360px;
}

.pharagraph3i, .pharagraph1i, .pharagraph2i, .pharagraph4i{
    text-align: center;
    position: relative;
    font-size: 150px;
    margin-top:40px;
    color:#b9b9b9;
}

h2{
    font-size: 25px;
    text-align: center;
    margin:15px 5px 0 5px;
    color:#ffffff;
    line-height: 40px;
    letter-spacing: 1px;
}
h3{
    color: #bbbbbb;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
}
h5{
    color:#e91e63;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 5px;
}
h6{
    font-size: 20px;
    line-height: 40px;
    font-style: italic;
    text-align: center;
    color:#b9b9b9;
}

.pharagraph5i, .pharagraph6i, .pharagraph7i, .pharagraph8i, .pharagraph9i{
    position: relative;
    font-size: 55px;
    margin-top:45px;
    color:#24262b;
    text-align: center;
}
.pharagrapht{
    color:#24262b;
    font-size: 20px;
    text-align: center;
    line-height: 26px;
    margin:25px 5px 0 5px;
}

.pharagraph9, .pharagraph7, .pharagraph5{
    width: 20%;
    height: 320px;
    background-color: #bbbbbb;
}

.pharagraph8, .pharagraph6{
    width: 20%;
    height: 320px;
    background-color: #24262b;
}



.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}


ul{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-col{
    width:25%;
    padding:0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-decoration: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    margin-top: 15px;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
}

.footer-col a:hover{
    color:#ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255,0.2);
    line-height: 40px;
    border-radius:50px;
    color:#ffffff;
    transition: all 0.5s ease;
    text-align: center;
}
.social-links a:hover{
    background-color: #ffffff;
    color:#24262b;
    padding-right: 10px;
}

.burger{
    display: none;
    cursor: pointer;

}

.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
}
.adress{
    margin-top: 120px;
}

.adress1{
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-top: -15px;
    color:#b9b9b9;
    margin-right: 150px;
}
.adress2{
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-top: -10px;
    color:#b9b9b9;
    margin-right: 150px;
}
.adress3{
    text-align: center;
    position: relative;
    font-size: 25px;
    margin-top: -10px;
    color:#b9b9b9;
    margin-right: 150px;
}

.read-more-container{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.container1{
    
    margin: 50px 25% 0 25%;
    padding: 15px;
    background-color: #24262b;
    border-radius: 20px;
    line-height: 20px;
    box-shadow: 0 0 1px #b9b9b9;
}
.container1 h3{
    color:#ffffff;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 1px;
}
.read-more-btn{
    color:#24262b;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.read-more-text{
    display: none;
}
.read-more-text--show{
    display: inline;
}
details > summary{
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 70px 550px 0 550px;
    font-size: 22px;
    color: #ffffff;
}

.content-details{
    margin-top: 50px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media screen and (max-width:1920px){
    body{
        height:auto;
        width:100%;
    }
} 
@media only screen and (max-width:1820px){
    .pharagraph5, .pharagraph6, .pharagraph7, .pharagraph8, .pharagraph9{
        height:350px;
    }
}

@media screen and (max-width:1378px){
    .pharagraph8, .pharagraph6, .pharagraph9, .pharagraph7, .pharagraph5{
        height: 365px;
    }
    .container1{
        margin: 50px 20% 0 20%;
        padding: 20px;
    }
}

@media screen and (max-width:1112px){
    .pharagraph8, .pharagraph6, .pharagraph9, .pharagraph7, .pharagraph5{
        height: 385px;
    }
}
@media screen and (max-width:1068px){
    .pharagraph8, .pharagraph6, .pharagraph9, .pharagraph7, .pharagraph5{
        height: 410px;
    }
}
@media screen and (max-width:1010px){
    .pharagraph8, .pharagraph6, .pharagraph9, .pharagraph7, .pharagraph5{
        width: 100%;
        height: 260px;
    }
    .container1{
        margin: 50px 10% 0 10%;
        padding: 20px;
    } 
}
@media screen and (max-width:1080px){
    .nav-links {
        width: 60%;
    }
     
}

@media only screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: fixed;
        right: 0;
        height: 92vh;
        top: 6vh;
        background-color: #24262b;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;


    }

    .nav-links li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        opacity: 1;

    }
    .right1{
        margin-left: 90%;
    }
    .burger{
        display: block;
    }
    .footer-col{
        width: 50%;
    }
}
@media only screen and (max-width:730px){
    .button1, .button2{
        width:97%;
    }
}
@media only screen and (max-width:501px){
    .footer-col{
        width: 70%;
    }
    .pharagraph8, .pharagraph6, .pharagraph9, .pharagraph7, .pharagraph5{
        width: 100%;
        height: 270px;
    } 
}
@media only screen and (max-width:554px){
    .right1{
        height: 501px;
        margin-top: -501px;
    }
    .middle1{
        width:80%;
    }
    .container1{
        margin: 50px 2% 0 2%;
        padding: 20px;
        letter-spacing: 0px;
    }
}

.nav-active {
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@media only screen and (max-width:396px){
    .right1{
        margin-left: 90%;
}
.pharagraph5, .pharagraph6, .pharagraph7, .pharagraph8, .pharagraph9{
    height:300px;
}
}
@media only screen and (max-width:322px){
    .pharagraph1, .pharagraph2, .pharagraph3, .pharagraph4{
        height: 380px;
    }
}
@media only screen and (max-width:310px){
    .pharagraph8, .pharagraph6, .pharagraph9, .pharagraph7, .pharagraph5{
        width: 100%;
        height:330px;
    }
}



.toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}